@import url(http://fonts.googleapis.com/css?family=Cookie);

[class*="icon-"] {
  font-family: 'Cookie';
  font-style: normal;
  font-size: 1.5em;
  speak: none;
}
.icon-home:after { content: "TIN"; } 
.icon-cog:after { content: "Virtual Office"; } 
.icon-cw:after { content: "Infinity DTH"; } 
.icon-location:after { content: "Venus Wire"; } 
.icon-Ecomm:after { content: "Test Harness"; } 
* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

html {
  color: #444;
  font-size: 100%;    
  background: #f7f7f7;
}

body {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  font-size:18px; 
  font-size:1.125rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

.page-wrap {
  width: 960px;
  margin: 80px auto;
}

.navProject {
  list-style: none;
  text-align: center;
}

.navProject li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.navProject li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 25%;
  z-index: -1;
}

.navProject a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #000000;
  margin: 46px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.navProject a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.navProject a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}